CEManager/.vs/CEManager/config/applicationhost.config
CEManager/.vs/CEManager/v16/.suo
CEManager/.vs/CEManager/v16/Server/sqlite3/db.lock
CEManager/.vs/CEManager/v16/Server/sqlite3/storage.ide
CEManager/.vs/CEManager/v16/Server/sqlite3/storage.ide-shm
CEManager/.vs/CEManager/v16/Server/sqlite3/storage.ide-wal
CEManager/bin/Debug/netcoreapp2.1/CEManager.deps.json
CEManager/bin/Debug/netcoreapp2.1/CEManager.dll
CEManager/bin/Debug/netcoreapp2.1/CEManager.pdb
CEManager/bin/Debug/netcoreapp2.1/CEManager.runtimeconfig.dev.json
CEManager/bin/Debug/netcoreapp2.1/CEManager.runtimeconfig.json
CEManager/bin/Debug/netcoreapp2.1/CEManager.Views.dll
CEManager/bin/Debug/netcoreapp2.1/CEManager.Views.pdb
CEManager/obj/CEManager.csproj.nuget.cache
CEManager/obj/CEManager.csproj.nuget.dgspec.json
CEManager/obj/CEManager.csproj.nuget.g.props
CEManager/obj/CEManager.csproj.nuget.g.targets
CEManager/obj/Debug/netcoreapp2.1/CEManager.AssemblyInfo.cs
CEManager/obj/Debug/netcoreapp2.1/CEManager.AssemblyInfoInputs.cache
CEManager/obj/Debug/netcoreapp2.1/CEManager.assets.cache
CEManager/obj/Debug/netcoreapp2.1/CEManager.csproj.CopyComplete
CEManager/obj/Debug/netcoreapp2.1/CEManager.csproj.CoreCompileInputs.cache
CEManager/obj/Debug/netcoreapp2.1/CEManager.csproj.FileListAbsolute.txt
CEManager/obj/Debug/netcoreapp2.1/CEManager.csprojAssemblyReference.cache
CEManager/obj/Debug/netcoreapp2.1/CEManager.dll
CEManager/obj/Debug/netcoreapp2.1/CEManager.pdb
CEManager/obj/Debug/netcoreapp2.1/CEManager.RazorAssemblyInfo.cache
CEManager/obj/Debug/netcoreapp2.1/CEManager.RazorAssemblyInfo.cs
CEManager/obj/Debug/netcoreapp2.1/CEManager.RazorCoreGenerate.cache
CEManager/obj/Debug/netcoreapp2.1/CEManager.RazorTargetAssemblyInfo.cache
CEManager/obj/Debug/netcoreapp2.1/CEManager.RazorTargetAssemblyInfo.cs
CEManager/obj/Debug/netcoreapp2.1/CEManager.TagHelpers.input.cache
CEManager/obj/Debug/netcoreapp2.1/CEManager.TagHelpers.output.cache
CEManager/obj/Debug/netcoreapp2.1/CEManager.Views.dll
CEManager/obj/Debug/netcoreapp2.1/CEManager.Views.pdb
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/Home/CollegeInfo.g.cshtml.cs
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/Home/CollegeManager.g.cshtml.cs
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/Home/ExpensesManager.g.cshtml.cs
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/Home/UserInfo.g.cshtml.cs
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/Home/UserManager.g.cshtml.cs
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
CEManager/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
CEManager/obj/project.assets.json
CEManager/.vs/CEManager/DesignTimeBuild/.dtbcache
EvaluationWeb/bin/Debug/netcoreapp2.1/EvaluationWeb.dll
EvaluationWeb/bin/Debug/netcoreapp2.1/EvaluationWeb.pdb
EvaluationWeb/bin/Debug/netcoreapp2.1/EvaluationWeb.Views.dll
EvaluationWeb/bin/Debug/netcoreapp2.1/EvaluationWeb.Views.pdb
EvaluationWeb/obj/Debug/netcoreapp2.1/EvaluationWeb.csproj.FileListAbsolute.txt
EvaluationWeb/obj/Debug/netcoreapp2.1/EvaluationWeb.csprojAssemblyReference.cache
EvaluationWeb/obj/Debug/netcoreapp2.1/EvaluationWeb.dll
EvaluationWeb/obj/Debug/netcoreapp2.1/EvaluationWeb.pdb
EvaluationWeb/obj/Debug/netcoreapp2.1/EvaluationWeb.RazorCoreGenerate.cache
EvaluationWeb/obj/Debug/netcoreapp2.1/EvaluationWeb.Views.dll
EvaluationWeb/obj/Debug/netcoreapp2.1/EvaluationWeb.Views.pdb
EvaluationWeb/obj/Debug/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
EvaluationWeb/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
EvaluationWeb/obj/Debug/netcoreapp2.1/Razor/Views/Home/Login.g.cshtml.cs
EvaluationWeb/obj/Debug/netcoreapp2.1/Razor/Views/Home/UserCenter.g.cshtml.cs
EvaluationWeb/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
EvaluationWeb/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
EvaluationWeb/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
