@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <style>
     .head-title {
        font-family: 'Arial Negreta', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        color: #FFFFFF;
        white-space: nowrap;
        height: 100%;
        width:93%;
        display: flex;
          justify-content:center;
          align-items:Center;
    }
     .demos-header {
        padding: 10px 0;        
        background:url("/images/usercenter/u113.png")  no-repeat;
        height: 62px;
        width:100%;
        overflow: hidden;
        background-size:cover;    
        display: flex;
        align-items:Center;
    }
     .box{
        height: 159px;
        background: inherit;
        background-color: rgba(248, 248, 248, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(234, 234, 234, 1);
        border-radius: 0px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
     }
     .font{
        font-family: 'Microsoft YaHei Regular', 'Microsoft YaHei';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: #006666;
        line-height: 50px;
     }
    </style>
</head>
<body>
    <div class="weui-panel">
        <div class="demos-header">
            <img id="u220_img" class="img " src="/images/usercenter/u220.png" tabindex="0">
            <div class="head-title">个人中心</div>
            <img id="u117_img" class="img " src="/images/usercenter/u117.png" tabindex="0">
        </div>
    </div>
    <div class="weui-grids">
        <a href="" class="weui-grid js_grid box">
            <div class="weui-grid__icon">
                <img src="/images/usercenter/u160.png" alt="" style="width: 40px;height: 43px;">
            </div>
            <p class="weui-grid__label" style="margin-top: 20px;">
                评测计划
            </p>
        </a>
        <a href="" class="weui-grid js_grid box">
            <div class="weui-grid__icon">
                <img src="/images/usercenter/u160.png" alt="" style="width: 40px;height: 43px;">
            </div>
            <p class="weui-grid__label" style="margin-top: 20px;">
                评测中心
            </p>
        </a>
        <a href="" class="weui-grid js_grid box">
            <div class="weui-grid__icon">
                <img src="/images/usercenter/u160.png" alt="" style="width: 40px;height: 43px;">
            </div>
            <p class="weui-grid__label" style="margin-top: 20px;">
                评测计划设置
            </p>
        </a>
        <a href="" class="weui-grid js_grid box">
            <div class="weui-grid__icon">
                <img src="/images/usercenter/u160.png" alt="" style="width: 40px;height: 43px;">
            </div>
            <p class="weui-grid__label" style="margin-top: 20px;">
                交易行为分析
            </p>
        </a>
        <a href="" class="weui-grid js_grid box">
            <div class="weui-grid__icon">
                <img src="/images/usercenter/u160.png" alt="" style="width: 40px;height: 43px;">
            </div>
            <p class="weui-grid__label" style="margin-top: 20px;">
                课程记录
            </p>
        </a>
        <a href="" class="weui-grid js_grid box">
            <div class="weui-grid__icon">
                <img src="/images/usercenter/u160.png" alt="" style="width: 40px;height: 43px;">
            </div>
            <p class="weui-grid__label" style="margin-top: 20px;">
                课程购买
            </p>
        </a>
        <a href="" class="weui-grid js_grid box">
            <div class="weui-grid__icon">
                <img src="/images/usercenter/u160.png" alt="" style="width: 40px;height: 43px;">
            </div>
            <p class="weui-grid__label" style="margin-top: 20px;">
                组织管理
            </p>
        </a>
        <a href="" class="weui-grid js_grid box">
            <div class="weui-grid__icon">
                <img src="/images/usercenter/u160.png" alt="" style="width: 40px;height: 43px;">
            </div>
            <p class="weui-grid__label" style="margin-top: 20px;">
                基本信息
            </p>
        </a>
        <a href="" class="weui-grid js_grid box">
            <div class="weui-grid__icon">
                <img src="/images/usercenter/u160.png" alt="" style="width: 40px;height: 43px;">
            </div>
            <p class="weui-grid__label" style="margin-top: 20px;">
                课程管理
            </p>
        </a>
    </div>
    <div class="weui-panel weui-panel_access" style="height:100%;">
        <div class="weui-panel__bd" style="height:100%">
            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" style="height:100%">
                <div class="weui-media-box__hd" style="width: 10%;height: 100%;">
                    <img class="weui-media-box__thumb" src="/images/usercenter/u7.png" style="width: 100%;height: 30%;">
                </div>
                <div class="weui-media-box__hd">
                    &nbsp;
                </div>
                <div class="weui-media-box__hd">
                    &nbsp;
                </div>
                <div class="weui-media-box__hd">
                    &nbsp;
                </div>
                <div class="weui-media-box__bd" style="width: 70%;height:100%">
                    <h4 class="weui-media-box__desc font">• 这是诚恩陪伴您走过的第201天</h4>
                    <h4 class="weui-media-box__desc font">• 您已参加了10次共计28小时的培训</h4>
                    <h4 class="weui-media-box__desc font">• 完成了3次评测计划</h4>
                    <h4 class="weui-media-box__desc font">• 交易陪伴服务100天</h4>
                    <div>&nbsp;</div>
                    <h4 class="weui-media-box__title">当前进行的评测计划有XXXXXXX</h4>
                    <h4 class="weui-media-box__desc">当前评测计划共有5项测试内容，完成15%</h4>
                    <div>&nbsp;</div>
                    <h4 class="weui-media-box__title">您有3份完成的评测报告，详情>></h4>
                    <div>&nbsp;</div>
                    <h4 class="weui-media-box__title">您预约的XXX课程还有1天20小时就要开课</h4>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <h4 class="weui-media-box__title">您参加的交易行为陪伴服务目前开通正常，</h4>
                    <h4 class="weui-media-box__title" style="color:#993366;">上传交易行为>></h4>
                </div>
            </a>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
</body>
</html>