@{
    Layout = null;
}
    <head>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="~/css/sb-admin.css" rel="stylesheet">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <style type="text/css">
            table, th {
                color: #FFFFFF;
                font-weigh: bold;
                text-align: center;
            }

            table, tr {
                color: #000000;
                font-weigh: bold;
            }

            body {
                background: #343a40!important;
            }
        </style>
    </head>
<body class="fixed-nav sticky-footer" id="page-top">
    <!-- Navigation-->
    <nav class="navbar  navbar-dark navbar-left" id="mainNav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="学院业务">
                    <a class="nav-link" href="Index">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">学院业务</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="个人收支">
                    <a class="nav-link" href="Contact">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">个人收支</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="用户管理">
                    <a class="nav-link" href="UserManager">
                        <i class="fa fa-fw fa-android"></i>
                        <span class="nav-link-text">用户管理</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="院校管理">
                    <a class="nav-link" href="CollegeManager">
                        <i class="fa fa-fw fa-database"></i>
                        <span class="nav-link-text">院校管理</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="收支管理">
                    <a class="nav-link" href="ExpensesManager">
                        <i class="fa fa-fw fa-trademark"></i>
                        <span class="nav-link-text">收支管理</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper" style="background: #53548A fixed top;">
        <div id="app" class="carousel slide" data-ride="carousel"  data-interval="6000">
            <div>&nbsp;</div>
            <div style="color:#FFFFFF;font-size:large">&nbsp;&nbsp;&nbsp;&nbsp;学院名称-城市</div>
            <div class="container" style="width:100%">
                <div class="d-flex flex-row-reverse" style="width:100%">
                    <div class="p-2"><button type="button" class="btn btn-default" style="background-color:#FFFF00">学院信息</button></div>
                    <div class="p-2"><button type="button" class="btn btn-default" style="background-color:#FFFF00">业务添加</button></div>
                </div>
                <div></div>
            </div>
            <div>&nbsp;</div>
            <table v-show="contactsList.length" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>业务名</th>
                        <th>地点</th>
                        <th>日期</th>
                        <th>负责人</th>
                        <th>学院人数</th>
                        <th>单价</th>
                        <th>收入</th>
                        <th>成本</th>
                        <th>成本备注</th>
                        <th>其它备注</th>
                        <th>利润</th>
                        <th></th>
                    </tr>
                </thead>
                <tr v-for="(contact,index) in contactsList">
                    <td>{{contact.Id}}</td>
                    <td>{{contact.Name}}</td>
                    <td>{{contact.Address}}</td>
                    <td>{{contact.Date}}</td>
                    <td>{{contact.Owner}}</td>
                    <td>{{contact.ClassNum}}</td>
                    <td>{{contact.UnitPirce}}</td>
                    <td>{{contact.Income}}</td>
                    <td>{{contact.Amount}}</td>
                    <td>{{contact.AmountReMark}}</td>
                    <td>{{contact.OtherReMark}}</td>
                    <td>{{contact.Profit}}</td>
                    <td><button type="button" class="btn btn-default" style="background-color:#00B0F0">编辑</button></td>
                </tr>
            </table>
            <div class="container" style="width:40%;background-color:#FFFF00">
                <div class="d-flex flex-row" style="width:40%">
                    总院备注：
                </div>
            </div>
            <div class="container" style="width:100%">
                <div class="d-flex flex-row-reverse" style="width:100%">
                    <div class="p-2"><button type="button" class="btn btn-default" style="background-color:#FFFF00">导出表格</button></div>
                </div>
                <div></div>
            </div>
            <script src="~/js/vue.js"></script>
            <script src="~/js/axios.js"></script>
            <script>

                var app2 = new Vue({
                    el: '#app',
                    data: {
                        message: 'Hello Vue!',
                        contactsList: [
                            { Id: "1", Name: "aa课", Address: "大连", Date: "2019-9-10", Owner: "杨继红", ClassNum: "12", UnitPirce: "1280", Income: "132", Amount: "60000", AmountReMark: "支出1：11", OtherReMark: "特记事项", Profit: "100" },
                            { Id: "2", Name: "bb课", Address: "青岛", Date: "", Owner: "", ClassNum: "1", UnitPirce: "100", Income: "132", Amount: "", AmountReMark: "", OtherReMark: "", Profit: "" },
                            { Id: "3", Name: "cc课", Address: "上海", Date: "", Owner: "", ClassNum: "1", UnitPirce: "100", Income: "132", Amount: "", AmountReMark: "", OtherReMark: "", Profit: "" }]
                    }
                });
            </script>
        </div>
    </div>
</body>