@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <style type="text/css">
        table, th {
            color: #FFFFFF;
            font-weigh: bold;
            text-align: center;
        }

        table, tr {
            color: #000000;
            font-weigh: bold;
        }

        body {
            background: #53548A fixed top;
        }
    </style>
</head>
<div id="app" class="carousel slide" data-ride="carousel" style="width:100%" data-interval="6000">
    <div>&nbsp;</div>
    <div style="color:#FFFFFF;font-size:large">&nbsp;&nbsp;&nbsp;&nbsp;用户管理</div>
    <div class="container" style="width:100%">
        <div class="d-flex flex-row-reverse" style="width:100%">
            <div class="p-2"><button type="button" class="btn btn-default" style="background-color:#FFFF00">添加用户</button></div>
        </div>
        <div></div>
    </div>
    <div>&nbsp;</div>
    <table v-show="contactsList.length" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>用户名</th>
                <th>权限</th>
                <th>密码</th>
                <th>所属院校</th>
                <th>备注</th>                
                <th>利润</th>
                <th></th>
            </tr>
        </thead>
        <tr v-for="(contact,index) in contactsList">
            <td>{{contact.Id}}</td>
            <td>{{contact.Name}}</td>
            <td>管理者</td>
            <td>******</td>           
            <td>{{contact.AmountReMark}}</td>
            <td>{{contact.OtherReMark}}</td>
            <td>{{contact.Profit}}</td>
            <td><button type="button" class="btn btn-default" style="background-color:#00B0F0">删除</button></td>
        </tr>
    </table>    
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script>

            var app2 = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    contactsList: [
                        { Id: "1", Name: "张三哥", Address: "大连", Date: "2019-9-10", Owner: "杨继红", ClassNum: "12", UnitPirce: "1280", Income: "132", Amount: "60000", AmountReMark: "大连理工", OtherReMark: "特记事项", Profit: "100" },
                        { Id: "2", Name: "李二叔", Address: "青岛", Date: "", Owner: "", ClassNum: "1", UnitPirce: "100", Income: "132", Amount: "", AmountReMark: "", OtherReMark: "", Profit: "" },
                        { Id: "3", Name: "三大爷", Address: "上海", Date: "", Owner: "", ClassNum: "1", UnitPirce: "100", Income: "132", Amount: "", AmountReMark: "", OtherReMark: "", Profit: "" }]
                }
            });
    </script>
